 

<h1>Product Types</h1>

<%= render 'ransack/search_form', search: @search_product_types, search_key: :q_product_type %>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><%= sort_link(@search_product_types, :name, "Name") %></th>
      <th><%= sort_link(@search_product_types, :description, "Description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_types.each do |product_type| %>
      <tr>
        <td><%= product_type.name %></td>
        <td><%= product_type.description %></td>
        <td><%= link_to 'Show', product_type %></td>
        <td><%= link_to 'Edit', edit_product_type_path(product_type) %></td>
        <td><%= link_to 'Destroy', product_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @product_types, param_name: :product_types_page %>

<br>

<%= link_to 'New Product Type', new_product_type_path %>
