 

<h1>Signups</h1>

<%= render 'ransack/search_form', search: @search %>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><%= sort_link(@search, :active, "Active?") %></th>
      <th><%= sort_link(@search, :customer, "Customer") %></th>
      <th><%= sort_link(@search, :newsletter, "Newsletter") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.active %></td>
        <td><%= signup.customer %></td>
        <td><%= signup.newsletter %></td>
        <td><%= link_to 'Show', signup %></td>
        <td><%= link_to 'Edit', edit_signup_path(signup ), class: 'btn btn-default' %></td>
        <% if signup.active? %>
          <td><%= link_to 'Unsubscribe', unsubscribe_signup_path(signup), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% else %>
          <td><%= link_to 'Subscribe', subscribe_signup_path(signup), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
        <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signup', new_signup_path %>
