 

<p>
  <strong>Active:</strong>
  <%= @signup.active %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @signup.customer %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @signup.newsletter %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
