 

<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @newsletter.product_type.name %>
</p>


<%= render file: 'customers/index.html.erb', customers: @customers %>
<%= render file: 'mails/index.html.erb', mails: @mails %>


<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path, class: 'btn btn-info' %>
