 

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<%= render file: 'orders/index.html.erb', orders: @orders %>
<%= render file: 'cards/index.html.erb', cards: @cards %>
<%= render file: 'wishlists/index.html.erb', wishlists: @wishlists %>



<%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %> <br> <br>
<%= link_to 'Back', customers_path, class: 'btn btn-info' %>
