

<h1>Orders</h1>

<%= render 'ransack/search_form', search: @search_orders, search_key: :q_order %>

<table class="table table-striped" >
  <thead>
    <tr>
      <th><%= sort_link(@search_orders, :created_at, "Date") %></th>
      <th><%= sort_link(@search_orders, :payment_date, "Payment date") %></th>
      <th><%= sort_link(@search_orders, :price, "Price") %></th>
      <th><%= sort_link(@search_orders, :status, "Status") %></th>
      <th><%= sort_link(@search_orders, :customer, "Customer") %></th>
      <th><%= sort_link(@search_orders, :card, "Card") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.payment_date %></td>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
        <td><%= order.customer %></td>
        <td><%= order.card %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order ), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders, param_name: :orders_page %>

<br>

<%= link_to 'New Order', new_order_path, class: 'btn btn-info' %>
