 

<p>
  <strong>Order:</strong>
  <%= @wishlists_product.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @wishlists_product.product %>
</p>

<p>
  <strong>Wishlist:</strong>
  <%= @wishlists_product.wishlist %>
</p>

<%= link_to 'Edit', edit_wishlists_product_path(@wishlists_product), class: 'btn btn-default' %> <br> <br>
<%= link_to 'Back', wishlists_products_path, class: 'btn btn-info' %>
