
<% if flash[:search_error] %>
  <div class="alert alert-danger">
    <%= flash[:search_error] %>
  </div>
<% end %>

<% if try(:search_key) %>
  <%= search_form_for search, url: '', as: search_key do |f| %>
    <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
      </div>
    <% end %>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% else %>
  <%= search_form_for search, url: '' do |f| %>
    <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
      </div>
    <% end %>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>
