 

<h1>Cards</h1>

<%= render 'ransack/search_form', search: @search_cards, search_key: :q_card %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search_cards, :number, "Number") %></th>
      <th><%= sort_link(@search_cards, :customer, "Customer") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.customer %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cards, param_name: :cards_page %>

<br>

<%= link_to 'New Card', new_card_path %>
