 

<p>
  <strong>Name:</strong>
  <%= @wishlist.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @wishlist.customer %>
</p>

<%= render file: 'products/index.html.erb', products: @products %>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path, class: 'btn btn-info' %>
